.mzt2-features-container-features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
  }
  
  .mzt2-features-container-features-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
  }
  .mzt2-features-container-features-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 55px;
    color: #fff;
    letter-spacing: -0.04em;
  }
  .mzt2-features-container-features-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
  }
  .mzt2-features-container-features-text {
    flex: 2;
    max-width: 390px;
    display: flex;
  }
  .mzt2-features-container-features-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
  }
  @media screen and (max-width: 550px) {
    .mzt2-features-container-features-title {
      font-size: 14px;
      line-height: 22px;
    }
    .mzt2-features-container-features-text p {
      font-size: 12px;
      line-height: 20px;
    }
    .mzt2-features-container-features {
      margin: 1rem 0;
    }
  }
  